.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 1vh;
  margin-top: 250px;
  text-align: center;
  color: deepskyblue;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  background-color: #202428;
  font-family: "Comic Sans MS", sans-serif; /* устанавливает семейство шрифтов */
}

h1 {
  font-size: 40px;
}

.maxVal {
  font-size: 50px;
  color: red;
  font-weight: bolder;
}


input {
  border: 3px solid deepskyblue;
  border-radius: 5px;
  padding: 3px;
}

button {
  font-family: "Comic Sans MS", sans-serif; /* устанавливает семейство шрифтов */
  font-size: 20px; /* устанавливает размер шрифта */
  font-weight: bold; /* устанавливает насыщенность шрифта (например, жирный) */
  background: deepskyblue;
  border: 1px solid deepskyblue;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  border: 3px solid deepskyblue;
  border-radius: 8px;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
}

.element-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  margin: 10px;
}

